<%= form_with(model: idea) do |form| %>
  <% if idea.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <%= form.label :name, "思いついたフレーズ", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="my-4">
    <%= form.label :description, "どんな時に思いついた？", class: "form-label" %>
    <%= form.text_area :description, class: "form-control"  %>
  </div>
  
  <div class="my-4">
    <%= form.label :picture, "その時の思い出写真", class: "form-label" %>
    <%= form.file_field :picture, class: "form-control"  %>
  </div>

  <div class="my-4">
  <%= form.label :updated_at, "思いついた日", class: "form-label" %>
  <%= form.date_field :updated_at, class: "form-control"  %>
</div>

  <div class="d-flex gap-3 py-3">
    <%= form.submit "登録する", class: "btn btn-primary"%>
  </div>
<% end %>