<p style="color: green"><%= notice %></p>

<%= render @idea %>

<div>
  <%= link_to "編集する", edit_idea_path(@idea) %> |
  <%= link_to "一覧に戻る", ideas_path %>

  <%= button_to "このフレーズを削除する", @idea, method: :delete %>
</div>
